// FONTS 
$primary-font: "Roboto Regular", serif;
$font-bold: "Roboto Bold", serif;

// COLORS 

$color-black: #333;
$color-gray: #e2e2e2;
$color-yellow: #ffcc00;
$bg-dark: #252525;
$color-white: #fff;